@font-face {
    font-family: fontRegular;
    src: url(./Fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: fontBold;
    src: url(./Fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: fontLight;
    src: url(./Fonts/Poppins-Light.ttf);
}

*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background: url(./Visuels/Matiere/girl-2980722_1920.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

#container-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.main-form {
    min-height: 100%;
    position: relative;
    flex-grow: 1;
    /* padding-bottom:100px; */
}

.login-section{
    position: relative;
    border: 2px solid #A14228;
    height: 490px;
    width: 400px;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 40%);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
}

.login-section:hover{
    box-shadow: 0 0 60px #A14228;
}

.login-section .formbox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.formbox h2 {
    text-align: center;
    font-size: 2em;
}

.formbox .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #f1f1f1;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding-right: 28px;
    color: #f1f1f1;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #f1f1f1;
    transition: .3s ease;
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 1.5em;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    color: #A14228;
    font-size: 1em;
}

.rem-password{
    display: flex;
    justify-content: space-between; 
    font-size: 0.8em;
    margin: -15px 0 15px;
}

.rem-password label input{
    accent-color: #A14228;
    margin-right: 5px;
}

.rem-password a{
    color: #f1f1f1;
}

.rem-password a:hover{
    color: #A14228;
}

.btn-val{
    /* background-color: #f1f1f1; */
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.3em;
    color: #f1f1f1;
    background: #A14228;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.crea-account{
    font-size: 0.8em;
    text-align: center;
    margin: 25px;
}

.crea-account p a{
    color: #f1f1f1;
    font-family: 'fontBold', Helvetica, sans-serif;
    text-decoration: none;
}

.crea-account p a:hover{
    color: #A14228;
}

.login-section .formbox.register{
    transform: translateY(-460px);
    transition: transform .7s ease;
}

.login-section.active .formbox.register{
    transform: translateY(0);
    transition-delay: .5s;
}

.login-section .formbox.login{
    transform: translateY(0px);
    transition: transform .7s ease;
}

.login-section.active .formbox.login{
    transform: translateY(430px);
    transition-delay: 0s;
}